{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container py-4">
        <div class="row">
            <div class="col-6 offset-3">
                <div class="card">
                  <div class="card-header bg-secondary text-white fs-3">
                    Add product
                  </div>
                  <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="g-recaptcha" data-sitekey="6Le2xkIeAAAAANZ3YK3oE44rdDrRw1EcIYl_04p9"></div>
                        <br/>
                        <button type="submit" class="btn btn-info">Save</button>
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}