<div class="card" style="width: 18rem;">
{#    <img src="https://storage.kun.uz/source/thumbnails/_medium/8/a5UQksQ7wKmq0UMOXJcYFU-jXo0EYCLe_medium.jpg" class="card-img-top" alt="IMEI ga qarshilik xaqida rams edi Sherzod Shermatov">#}
    <div class="card-body">
        <h5 class="card-title"><b>Шерзод Шерматов — АКТга қайтиши, мобил интернет тезлиги, IMEI ва блокланган ижтимоий
            тармоқлар ҳақида</b></h5>
        <p class="card-text">Мобил интернет тезлигининг пастлиги, “телефон солиғи” (IMEI) бўйича эътирозлар, қатор
            ижтимоий тармоқларнинг блоклаб қўйилгани. Kun.uz АКТ соҳасига оид шу ва бошқа саволлар юзасидан соҳа вазири
            Шерзод Шерматов билан интервю ташкил қилди.</p>
        <a href="https://t.me/imabdulaziz_18" class="btn btn-primary">TG</a>
    </div>
</div>
